/* modal.css */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 9999; /* Выше всего, чтобы модальное окно было поверх всего остального контента */
}

.modal-content {
    background-color: #fff; /* Цвет фона модального окна */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для модального окна */
    width: 400px; /* Ширина модального окна */
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form label {
    margin-bottom: 8px;
}

.modal-form .MuiTextField-root {
    margin-bottom: 16px;
}

.modal-form .MuiButton-root {
    margin-right: 8px;
}
/* modal.css */

.button-group {
    margin-top: 16px;
}

